* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #5152a8;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

#body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

#nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #28297e;
}

#nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav-items li {
  padding: 0;
}

#nav-items a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

#nav-items a:hover {
  background-color: #5a5c8d;
  transition: background-color 75ms ease-in;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-top: 20px;
}

#title {
  margin-top: 0;
  font-size: 36pt;
  text-align: center;
}

.character {
  display: flex;
  border: 1px solid red;
}

.stats {
  width: 100%;
  border: 1px solid black;
}

.stat-bars {
  border: 1px solid white;
}

.hp, .atk, .def, .speed, .taunt {
  display: flex;
  gap: 100px;
}

.hp img, .atk img, .def img, .speed img, .taunt img {
  flex: 0 1 80px;
}

.bar {
  width: 500px;
  height: 20px;
  background-color: blue;
}

footer {
  margin: 0;
  text-align: center;
}
