* {
  border: 1px solid black;
}

#nav-bar {
  display: flex;
  /* flex-direction: row-reverse; */
  /* border: 1px solid black; */
}

#nav-items {
  display: flex;
  /* border: 1px solid black; */
}
