* {
  /* border: 1px solid black; */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
}

#nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav-items li {
  padding: 0;
}

#nav-items a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
  border: 1px solid black;
}

#body {
  flex: 1 0 auto;
  padding: 5px;
}

#title {
  font-size: 2.5vw;
  text-align: center;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 10px;
  /* border: 1px solid black; */
}

.menu div {
  text-align: center;
  border: 1px solid black;
}

.menu p {
  font-size: 1.5vw;
}

.menu img {
  width: 50%;
}

footer {
  margin: 0;
  text-align: center;
}
