* {
  font-family: 'Roboto', sans-serif;
  color: white;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #5152a8;
}

#container {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

#body {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  /* border: 1px solid black; */
}

#nav-bar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #28297e;
}

#nav-items {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#nav-items li {
  padding: 0;
}

#nav-items a {
  display: block;
  padding: 10px;
  text-decoration: none;
  /* border: 1px solid black; */
}

#nav-items a:hover {
  background-color: #5a5c8d;
  transition: background-color 75ms ease-in;
}

#main {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  justify-content: center;
}

#title {
  margin-top: 0;
  font-size: 2.5vw;
  text-align: center;
}

.menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  column-gap: 10px;
}

.menu div {
  text-align: center;
  /* border: 1px solid black; */
}

.menu p {
  font-size: 1.5vw;
}

.menu img {
  width: 50%;
}

footer {
  margin: 0;
  text-align: center;
}
